body {
    font-family: 'Lato', sans-serif;
    background-color: lightgray;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #222;
    color: #fff;
  }
  
  #highscores {
    padding: 10px 20px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #timer-display {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #FFC3A1;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #start-paragraph-container {
    margin: 10% auto;
    width: 80%;
    text-align: center;
  }
  
  #start {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    justify-self: end;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    /* max-width: 10%;
    width: 10%; */
  }

  .quiz-button {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .try-again-button, .view-highscores-button {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  button.quiz-button:not(.start-quiz-button) {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }

  #highscores {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }