/* Adds overall body background as well as font style */
body {
    font-family: 'Lato', sans-serif;
    background-color: lightgray;
  }
  
  /* Adds styling to the header bar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #222;
    color: #fff;
  }

  /* Styling for the timer display countdown */
  #timer-display {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #FFC3A1;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* Styling for h1 elements */
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  /* Adds alignment to the text paragraph at the landing page */
  #start-paragraph-container {
    margin: 10% auto;
    width: 80%;
    text-align: center;
  }
  
  /* Adds style to the start button */
  #start {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    justify-self: end;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }

  /* Adds style to the add highscore button */
  .quiz-button {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .try-again-button, .view-highscores-button {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  button.quiz-button:not(.start-quiz-button) {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }


  
  /* Styling for the landing page paragraph */
  p {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Adjusts the anwsers container text background colors etc. */
  .score-container {
    padding: 15px 40px;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* Adds text size to the anwsers */
  .answer-label {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Will remove the hidden property from the form */
  .hidden {
    display: none;
  }
  
  /* Allows adjusting the table */
  .table-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  /* Adds styling to the homepage button on the highscores page */
  #highscores {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFC3A1;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Create a grid property on the table and adds 2 columns */
  .highscores-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  
  
  /* Adds font size to the text and weight */
  #highscores-table {
    border-collapse: collapse;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Adds a black border line below the table headers to seperate it from the scores, adds small amount of padding */
  #highscores-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid black;
  }
  
  /* Adds a bottom border line between each highscore with a small amount of padding */
  #highscores-table td {
    padding: 10px;
    border-bottom: 1px solid #b3b3b3;
  }
  

  /* Spreads the table headers from one another */
  #highscores-table th {
    padding: 10px 125px;
  }

  /* Centers the table data */
  tbody {
    text-align: center;
  }


/* Styles for desktop and tablet screens */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  }
  
  .highscores-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  }
  
  #highscores-table {
  border-collapse: collapse;
  font-size: 22px;
  font-weight: bold;
  }
  
  #highscores-table th {
  padding: 10px 125px;
  text-align: left;
  border-bottom: 2px solid black;
  }
  
  #highscores-table td {
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
  }
  
  tbody {
  text-align: center;
  }
  
  /* Styles for mobile screens */
  @media (max-width: 428px) {
  .highscores-container {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  }
  
  #highscores-table th {
  padding: 10px 3%;
  font-size: 18px;
  }
  
  #highscores-table td {
  padding: 10px;
  font-size: 16px;
  }
  
  #highscores-table th:nth-child(1),
  #highscores-table td:nth-child(1) {
  text-align: left;
  }
  }
  
  /* Styles for small tablet screens */
  @media (min-width: 429px) and (max-width: 767px) {
  .highscores-container {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
  }
  
  #highscores-table th {
  padding: 10px 5%;
  font-size: 20px;
  }
  
  #highscores-table td {
  padding: 10px;
  font-size: 18px;
  }
  
  #highscores-table th:nth-child(1),
  #highscores-table td:nth-child(1) {
  text-align: left;
  }
  }
  
  /* Styles for medium tablet screens */
  @media (min-width: 768px) and (max-width: 1023px) {
  .highscores-container {
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  font-size: 26px;
  }
  
  #highscores-table th {
  padding: 10px 5%;
  font-size: 22px;
  }
  
  #highscores-table td {
  padding: 10px;
  font-size: 20px;
  }
  }
  
  /* Styles for large desktop screens */
  @media (min-width: 1024px) {
  .highscores-container {
  width: 80%;
  font-size: 30px;
  }
  
  #highscores-table th {
  padding: 10px 7%;
  font-size: 26px;
  }
  
  #highscores-table td {
  padding: 10px;
  font-size: 24px;
  }
  }